<?xml version="1.0"?>

<config>
    <modules>
        <Miziagui_Fastcash>
            <version>1.0.0.0</version>
        </Miziagui_Fastcash>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <fastcash_deposito_type>
                    <to_order_payment>*</to_order_payment>
                </fastcash_deposito_type>
                <fastcash_transferencia_type>
                    <to_order_payment>*</to_order_payment>
                </fastcash_transferencia_type> 
                <fastcash_transferencia_ag>
                    <to_order_payment>*</to_order_payment>
                </fastcash_transferencia_ag>
                <fastcash_transferencia_cc>
                    <to_order_payment>*</to_order_payment>
                </fastcash_transferencia_cc>                                                
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <fastcash>
                <class>Miziagui_Fastcash_Model</class>
                <resourceModel>fastcash_resource</resourceModel>
            </fastcash>
            <fastcash_resource>
                <class>Miziagui_Fastcash_Model_Resource</class>
                <entities>
                    <order>
                        <table>fastcash_payment_orders</table>
                    </order>
                </entities>
            </fastcash_resource>
        </models>
        
        <blocks>
            <fastcash>
                <class>Miziagui_Fastcash_Block</class>
            </fastcash>
        </blocks>
        <helpers>
            <fastcash>
                <class>Miziagui_Fastcash_Helper</class>
            </fastcash>
        </helpers>
        <resources>
            <fastcash_setup>
                <setup>
                    <module>Miziagui_Fastcash</module>
                    <class>Miziagui_Fastcash_Model_Resource_Setup</class>                    
                </setup>
            </fastcash_setup>
        </resources>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <fastcash_order_link>
                        <class>fastcash/observer</class>
                        <method>addLinkToAccountNavigation</method>
                    </fastcash_order_link>
                </observers>
            </controller_action_layout_generate_blocks_after>           
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <fastcash>
                    <file>fastcash.xml</file>
                </fastcash>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <fastcash>
                                            <title>Fastcash</title>
                                        </fastcash>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>        
    </adminhtml>
    <frontend>
        <routers>
            <fastcash>
                <use>standard</use>
                <args>
                    <module>Miziagui_Fastcash</module>
                    <frontName>fastcash</frontName>
                </args>
            </fastcash>
        </routers>
        <layout>
            <updates>
                <fastcash>
                    <file>fastcash.xml</file>
                </fastcash>
            </updates>
        </layout>
    </frontend>    
    <default>
        <payment>
            <fastcash_auth>
                <cpf>taxvat,cpf,cnpj,customer_taxvat,customer_cpf,customer_cnpj</cpf>
            </fastcash_auth>   
            <fastcash_payment>
                <active>0</active>
                <model>fastcash/methods_payment</model>
                <title>Fastcash Payment</title>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <sort_order>1</sort_order>
                <type>payment</type>
            </fastcash_payment>                      
            <!--fastcash_transferencia>
                <active>0</active>
                <model>fastcash/methods_transferencia</model>
                <title>Transferência On-line</title>
                <order_status>pending</order_status>
                <campo_documento>taxvat,cpf,cnpj,customer_taxvat,customer_cpf,customer_cnpj</campo_documento>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <sort_order>1</sort_order>
                <type>trans</type>
            </fastcash_transferencia>
            <fastcash_deposito>
                <active>1</active>
                <model>fastcash/methods_deposito</model>
                <title>Depósito</title>
                <order_status>pending</order_status>
                <campo_documento>taxvat,cpf,cnpj,customer_taxvat,customer_cpf,customer_cnpj</campo_documento>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <sort_order>90</sort_order>
		<type>dep</type>
            </fastcash_deposito-->
        </payment>
    </default>
    <!--crontab>
        <jobs>
            <fastcash_cancel_deposito>
                <schedule>
                    <cron_expr>0 6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>fastcash/observer::cancelDeposito</model>
                </run>
            </fastcash_cancel_deposito>
            <fastcash_payment_authorize>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fastcash/process::authorize</model>
                </run>
            </fastcash_payment_authorize>
           <fastcash_payment_capture_cc>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fastcash/process::captureCc</model>
                </run>
            </fastcash_payment_capture_cc> 
            <fastcash_payment_capture_deposito>
                <schedule>
                    <cron_expr>0 8,18 * * *</cron_expr>
                </schedule>
                <run>
                    <model>fastcash/process::captureDeposito</model>
                </run>
            </fastcash_payment_capture_deposito>            
        </jobs>
    </crontab-->
</config>
     